
//== Brand Colors

// Brand Green
$brand-green-bg: lightgreen;          // Title background
$brand-green-body-bg: #e8f5e9;        // Body background

// Brand Red
$brand-red-bg: lightcoral;            // Title background
$brand-red-body-bg: #ffebee;          // Body background

// Brand Yellow
$brand-yellow-bg: lightyellow;        // Title background
$brand-yellow-body-bg: #fffde7;       // Body background